// 青系
$navy: navy;
$darkblue: darkblue;
$cornflowerblue: cornflowerblue;

$white: white;
$silver: silver;
$line-silver: #c0c0c0;
$gray: gray;
$dimgray: dimgray;
$thin-black: #3A3939;
$form-black: #222222;

$btn-red: #ea352c;
$btn-blue: #0099e8;

$form-back: rgba(192,192,192,0.01);
$none-back: Transparent; // 背景透明


$back-gray: #f5f5f5; // 背景色
$character-black: #333; // 文字で使う黒色
$btn-color: #808080;

