// 青系
$navy: navy;
$darkblue: darkblue;
$cornflowerblue: cornflowerblue;

// 使っている
$white: white;

$silver: silver;
$line-silver: #c0c0c0;
$gray: gray;
$dimgray: dimgray;
$thin-black: #3A3939;
$form-black: #222222;

$btn-red: #ea352c;
$btn-blue: #0099e8;