-# 勤怠打刻ページ
.times-index-wrapper
  .times-index-wrapper__contents
    .times-index-margin
      .link-home
        = link_to home_index_path, class: "home-index-path" do
          home
    .times-index-wrapper__contents__title
      %h1 Time-Card
    .times-index-wrapper__contents__search
      .search-form
        %input#search-member-form{placeholder: "名前を入力して下さい", type: "text"}
      .search-member#search-member-field