
= link_to destroy_user_session_path, method: :delete do
  %span ログアウト

= link_to root_path do
  %span time-card

= link_to mytimes_path do
  %span 自分の出勤確認

= link_to edit_fix_time_path(7) do
  %span 勤怠編集