.td-form-input {
  box-shadow: 1px 1px 2px 0 #707070 inset;
  border-radius: 1px;
}

.form-value-input {
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  color: $thin-black;
  background-color: $none-back;

  width: 97%;
  height: 25px;
  padding: 0;
  border: none;
}

input[type="time"]::-webkit-outer-spin-button, 
input[type="time"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="time"]::-webkit-clear-button {
  display: none;
}
input[type="time"]::-ms-clear {
  display: none;
}



#fix-time-edit_date-send-btn {
  visibility: hidden;
}

.mytimes-show-wrapper__contents__form {
  display: flex;
  .mytimes-show-wrapper-contents-table-width {
    width: 50px;
  }
  .mytimes-show-wrapper__contents__send-btn {
    margin-left: 10px;
    position: relative;
    &__top {
    }
    &__bottom {
      position: absolute;
      bottom: 0;
    }
  }
  .fix-attendance-btn {
    color: $white;
    background-color: $gray;
    font-size: 15px;
    height: 30px;
    width: 100px;
    line-height: 20px;
    cursor: pointer;
    border-style: none;
    border: solid 1px $silver;
    border-radius: 5px;
  }
}
