.mytimes-show-wrapper {
  width: 700px;
  margin: 0 auto;
  &__header {
    .show-margin {
      height: 30px;
    }
    .header-title {
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 25px;
      color: $thin-black;
      border-bottom: solid 1px $dimgray;
    }
    .header-form {
      margin-top: 20px;
      display: flex;
      &__name {
        margin-left: 120px;
        color: $thin-black;
        font-size: 25px;
        position: relative;
        #user_name_select {
          color: $form-black;
          font-size: 25px;
          background-color: $white;
          width: 250px;
          height: 50px;
          padding-left: 10px;
          cursor: pointer;
          border-style: none;
          border: solid 1px $silver;
          border-radius: 5px;
        }
        .icon-chevron-down {
          position: absolute;
          top: 12px;
          right: 12px;
          pointer-events: none;
        }
      } 
      &__date {
        margin: 0 30px 0 auto;
        display: flex;
        .select-box {
          display: flex;
          color: $thin-black;
          position: relative;
          #date_year, #date_month {
            color: $form-black;
            font-size: 20px;
            background-color: $white;
            width: 80px;
            height: 30px;
            padding-left: 5px;
            cursor: pointer;
            border-style: none;
            border: solid 1px $silver;
            border-radius: 5px;
          }
          #date_month {
            width: 45px;
          }
          .icon-chevron-down {
            position: absolute;
            top: 7px;
            right: 35px;
            pointer-events: none;
          }
          .select-box-character {
            margin: 0 10px 0 5px;
            line-height: 30px;
          }
        }
        .date-send-btn {
          .send-btn {
            color: $form-black;
            font-size: 15px;
            height: 30px;
            width: 50px;
            line-height: 20px;
            cursor: pointer;
            border-style: none;
            border: solid 1px $silver;
            border-radius: 5px;
          }
        }
      }
    }
  }
  &__contents {
    margin-top: 30px;
    margin-bottom: 30px;
    &__table {
      width: 500px;
      margin: 0 auto;
      table {
        tr {
          th {
            width: 100px;
            height: 28px;
            line-height: 28px;
            font-size: 22px;
            color: $thin-black;
            border: solid 1px $line-silver;
          }
          td {
            text-align: center;
            height: 25px;
            line-height: 25px;
            font-size: 20px;
            color: $thin-black;
            border: solid 1px $line-silver;
          }
        }
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}